{% extends "home/base.html" %}
{% load static %}
{% block body %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Edit Books</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'view_books' %}">Library</a></li>
<li class="breadcrumb-item active">Edit Books</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method = "POST">
  {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Book Information</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Book ID</label>
<input type="text" name="book_id" class="form-control" value="{{book.book_id}}">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Book Name</label>
<input type="text" name="book_name" class="form-control" value="{{book.book_name}}">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Language</label>
<select name="language" class="form-control">
<option value = "English" {% if book.language == "English" %} selected {% endif %}>English</option>
<option value = "Hindi" {% if book.language == "Hindi" %} selected {% endif %}>Hindi</option>
<option value = "Gujarati" {% if book.language == "Gujarati" %} selected {% endif %}>Gujarati</option>
</select>
</div>
</div>

<div class="col-12 col-sm-6">
<div class="form-group">
<label>Class</label>
<select name = "book_class" class="form-control">
<option value = "LKG" {% if book.book_class == "LKG" %} selected {% endif %}>LKG</option>
<option value = "UKG" {% if book.book_class == "UKG" %} selected {% endif %}>UKG</option>
<option value = "1" {% if book.book_class == "1" %} selected {% endif %}>1</option>
<option value = "2" {% if book.book_class == "2" %} selected {% endif %}>2</option>
<option value = "3" {% if book.book_class == "3" %} selected {% endif %}>3</option>
<option value = "4" {% if book.book_class == "4" %} selected {% endif %}>4</option>
<option value = "5" {% if book.book_class == "5" %} selected {% endif %}>5</option>
<option value = "6" {% if book.book_class == "6" %} selected {% endif %}>6</option>
<option value = "7" {% if book.book_class == "7" %} selected {% endif %}>7</option>
<option value = "8" {% if book.book_class == "8" %} selected {% endif %}>8</option>
<option value = "9" {% if book.book_class == "9" %} selected {% endif %}>9</option>
<option value = "10" {% if book.book_class == "10" %} selected {% endif %}>10</option>
</select>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Type</label>
<select name="article_type" class="form-control">
<option value = "Book" {% if book.article_type == "Book" %} selected {% endif %}>Book</option>
<option value = "DVD" {% if book.article_type == "DVD" %} selected {% endif %}>DVD</option>
<option value = "CD" {% if book.article_type == "CD" %} selected {% endif %}>CD</option>
<option value = "Newspaper" {% if book.article_type == "Newspaper" %} selected {% endif %}>Newspaper</option>
<option value = "Magazine" {% if book.article_type == "Magazine" %} selected {% endif %}>Magazine</option>
</select>
</div>
 </div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Status</label>
<select name="book_status" class="form-control">
<option value = "In Stock" {% if book.book_status == "In Stock" %} selected {% endif %}>In Stock</option>
<option value = "Out of Stock" {% if book.book_status == "Out of Stock" %} selected {% endif %}>Out of Stock</option>
</select>
</div>
</div>
<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>

<!-- Mirrored from preschool.dreamguystech.com/html-template/edit-books.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:12:21 GMT -->
</html>
{% endblock  %}