{% extends "home/base.html" %}
{% load static %}
{% block body %}


<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Add Teachers</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">Teachers</a></li>
<li class="breadcrumb-item active">Add Teachers</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="POST" action="{% url 'add_teacher' %}" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Basic Details</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Teacher ID</label>
<input type="text" name="teacher_id" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>First Name</label>
<input type="text" name = 'teacher_first_name' class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Last Name</label>
<input type="text" name = 'teacher_last_name' class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Gender</label>
<select class="form-control" name="gender" required>
<option value = "Male" selected>Male</option>
<option value = "Female">Female</option>
<option value = "Other">Other</option>
</select>
</div>
</div>

<div class="col-12 col-sm-6">
<div class="form-group">
<label>Date of Birth</label>
<input type="date" name="teacher_dob" class="form-control" required>
</div>
</div>

<div class="col-12 col-sm-6">
  <div class="form-group">
  <label>Email ID</label>
  <input type="email" name = "teacher_email" class="form-control" required>
  </div>
  </div>

<div class="col-12 col-sm-6">
<div class="form-group">
<label>Mobile</label>
<input type="text" name="teacher_mobile" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Joining Date</label>
<input type="date" name="teacher_join_date" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Qualification</label>
<input class="form-control" name="teacher_qualification" type="text" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Experience</label>
<input class="form-control" name="teacher_experience" type="text" required>
</div>
</div>
<div class="col-12">
  <div class="form-group">
  <label>Address</label>
  <input type="text" name = "teacher_address" class="form-control">
  </div>
  </div>


<div class="col-12">
<h5 class="form-title"><span>Skills</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Communication Skill</label>
<input type="text" name="teacher_comm_skill" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Subject Knowledge</label>
<input type="text" name = "teacher_subj_skill" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Creativity</label>
<input type="text" name="teacher_creativity_skill" class="form-control" required>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Classroom Management</label>
<input type="text" name="teacher_class_mgt_skill" class="form-control" required>
</div>
</div>


<div class="col-12">
<h5 class="form-title"><span>Responsibility</span></h5>
</div>

<div class="col-12 col-sm-6">
<div class="form-group">
<label>Class</label>
<input type="text" name="teacher_class" class="form-control" required>
</div>
</div>

<div class="col-12 col-sm-6">
  <div class="form-group">
  <label>Section</label>
  <input type="text" name="teacher_section" class="form-control" required>
  </div>
  </div>

<div class="col-12 col-sm-6">
<div class="form-group">
<label>Subject</label>
<input type="text" name="teacher_subj" class="form-control" required>
</div>
</div>

<div class="col-12">
  <h5 class="form-title"><span>Background Details</span></h5>
  </div>
  <div class="col-12 col-sm-6">
  <div class="form-group">
  <label>School</label>
  <input type="text" name="school" class="form-control" required>
  </div>
  </div>
  <div class="col-12 col-sm-6">
  <div class="form-group">
  <label>Bachelors</label>
  <input type="text" name = "bachelor_clg" class="form-control" required>
  </div>
  </div>
  <div class="col-12 col-sm-6">
  <div class="form-group">
  <label>Masters</label>
  <input type="text" name="masters_clg" class="form-control" required>
  </div>
  </div>

{% comment %} <div class="col-12">
  <h5 class="form-title"><span>Achievements</span></h5>
  </div>
  <div class="col-12 col-sm-6">
  <div class="form-group">
  <label>Achievements</label>
  <input type="text" name="achievments" class="form-control" required>
  </div>
  </div>
   {% endcomment %}

<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>

<!-- Mirrored from preschool.dreamguystech.com/html-template/add-teacher.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:50 GMT -->
</html>
{% endblock  %}